.CurrencyRow {
  height: 100px;
  position: fixed;
  top: 150px;
  right: 10%;
  @media screen and (max-width: 1330px) {
    right: 1%;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    opacity: 0.8;
    color: white;
    min-height: 2.71428571em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  &__text-total {
    margin: 0 10px;
  }

  &__select {
    outline: 0;
    cursor: pointer;
    border: none;
    background: black;
    opacity: 0.8;
    color: white;
    min-height: 2.71428571em;
  }
}
